.App {
  background: linear-gradient(#fff 10%, #f1f1f1 98%, #ccc);
  padding:20px;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.App-Preview {
  flex: 1;
}

textarea {
  flex: 1;
  min-height: 10rem;
}

body {
  background: #def;
}